* {
    font-family: JetBrainsMonoNerdFont;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgb(43, 48, 59);
    color: #ffffff;
}

#workspaces button.empty {
    background-color: rgb(43, 48, 59);
}

#workspaces button {
    background-color: rgba(75, 129, 255, 0.39);
    color: #ffffff;
    padding: 0 5px;
}


#workspaces button.visible {
    background-color: rgb(75, 129, 255);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery,
#clock,
#custom-power {
    padding: 0 10px;
    color: #ffffff;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}
