* {
    font-family: JetBrainsMonoNerdFont;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

window#waybar {
    background-color: rgb(43, 48, 59);
    color: #ffffff;
}

#workspaces button.empty {
    background-color: rgb(43, 48, 59);
}

#workspaces button {
    background-color: rgba(4, 79, 255, 0.39);
    color: #ffffff;
    padding: 0 5px;
}


#workspaces button.visible {
    background-color: rgb(75, 129, 255);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery,
#clock,
#custom-power {
    padding: 0 10px;
    color: #ffffff;
    font-size: 13px;
}



#bluetooth {
    font-size: 14px;
}

#network {
    padding-right: 14px;
    font-size: 13px;
}

#battery {
    font-size: 13px;
}

#custom-power {
    font-size: 15px;
    padding-right: 15px;
    padding-left: 12px;
    background-color: rgb(75, 129, 255);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}
