* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMonoNerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: rgb(43, 48, 59);
    color: white;
}

tooltip {
  background: rgb(43, 48, 59);
}
tooltip label {
  color: white;
}

#workspaces button.empty {
    background-color: rgb(43, 48, 59);
}

#workspaces button {
    background-color: rgba(75, 129, 255, 0.39);
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    padding-left: 6px;
    padding-right: 6px;
}

#workspaces button.visible {
    background-color: rgb(75, 129, 255);
}


#workspaces button.urgent {
    background-color: #f53c3c;
}

#clock, #battery, #custom-power, #network, #bluetooth, #pulseaudio, #backlight {
    color: #ffffff;
}

#backlight {
    padding-left: 10px;
    padding-right: 10px;
}

#pulseaudio {
    padding-left: 10px;
    padding-right: 10px;
}

#bluetooth {
    padding-left: 10px;
    padding-right: 10px;
}

#network {
    padding-left: 10px;
    padding-right: 15px;
}

#clock {
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-power {
    padding-left: 10px;
    padding-right: 12px;
}

#battery {
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

#battery.charging {
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}